<template>
    <div>
        <h2>First content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>

        <div class="line"></div>

        <h2>{{this.jsonData[0].title}}</h2>
        <p>{{this.jsonData[0].body}}</p>

    </div>
</template>

<script>
    export default {
        name: "One",
        props: {
            jsonData: Array
        }
    }
</script>

<style scoped>

</style>
