<template>
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <router-link to="/"><p>Heading</p></router-link>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Title</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Title 1</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu2">
                            <li>
                                <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sub 1</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu3">
                                    <li>
                                        <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sub 2</a>
                                        <ul class="collapse list-unstyled" id="homeSubmenu4">
                                            <li>
                                                <a href="#homeSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sub 3</a>
                                                <ul class="collapse list-unstyled" id="homeSubmenu5">
                                                    <li>
                                                        <a href="#homeSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sub 4</a>
                                                        <ul class="collapse list-unstyled" id="homeSubmenu6">
                                                            <li>
                                                                <router-link to="/1">Sub 5</router-link>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <router-link to="/2">Title 2</router-link>
                    </li>
                    <li>
                        <router-link to="/3">Title 3</router-link>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</template>

<script>
    import $ from 'jquery'
    export default {
        name: "SideNav",
        mounted() {
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        }
    }
</script>

