<template>
    <div id="app" class="wrapper">
        <SideNav/>
        <div id="content">
            <Nav/>
            <router-view :jsonData="jsonData"/>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import SideNav from "./components/SideNav";
    import Nav from "./components/Nav";

    export default {
        name: 'App',
        components: {Nav, SideNav},
        data() {
            return {
                jsonData: []
            }
        },
        mounted() {
            axios.get(`https://gorest.co.in/public-api/posts`)
                .then(response => {
                    this.jsonData = response.data.data
                    console.log(this.jsonData)
                })
                .catch(error => console.log(error))
        }
    }
</script>

<style>
</style>
